<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.web.dao.BoardDao">

	<select id="selectBoard" resultType="boardBean">

	select
		ID,
		TITLE,
		CONTENT,
		REG_DATE As regDate,
		USER_ID As userId

		from 
			board
		where
			ID = #{id}
	</select>
	
	<select id="selectBoardList" resultType="boardBean">
select
		id,
		title,
		content,
		REG_DATE As regDate,
		USER_ID As userId

		from 
			board
	
	</select>
	
	<!-- 회원 가입 -->
	<insert id="insertBoard" parameterType="boardBean">
		INSERT INTO board
			(
				ID,
				TITLE,
				CONTENT,
				REG_DATE,
				USER_ID
			)
		VALUES
			(
				#{id},
				#{title},
				#{content},
				#{regDate},
				#{userId}
				
			)
	</insert>
	
	<!-- 회원 수정 -->
	<update id="updateBoard" parameterType="boardBean">
	UPDATE board 	
	SET 

				TITLE = #{title},
				CONTENT = #{content},
				REG_DATE = #{regDate},
				USER_ID = #{userId}
		
	WHERE
		ID = #{id}
		
	</update>
	
	<!-- 회원 삭제-->
	<delete id="deleteBoard" parameterType="boardBean">
	DELETE 
	FROM board
	WHERE 
	ID = #{id}
	</delete>

</mapper>